@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadLayoutComponent")
<body>

    @await Component.InvokeAsync("_NavbarLayoutComponent")
    <!-- END nav -->
    @await Component.InvokeAsync("_FeatureLayoutComponent")

    @RenderBody()

    @await Component.InvokeAsync("_FooterLayoutComponent")

    @await Component.InvokeAsync("_ScriptLayoutComponent")
</body>
</html>