@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadLayoutComponent")
<body>

    @await Component.InvokeAsync("_NavbarLayoutComponent")
    <!-- END nav -->
    @await Component.InvokeAsync("_DefaultFeatureLayoutComponent")
    @await Component.InvokeAsync("RentACarFilterComponentPartial", new {locations = ViewBag.locations})
    @await Component.InvokeAsync("DefaultCarListLayoutComponent")

    @await Component.InvokeAsync("AboutUsComponentPartial")

    @await Component.InvokeAsync("ServiceComponentPartial")

    @await Component.InvokeAsync("BecomeADriverComponentPartial")
    @await Component.InvokeAsync("TestimonialComponentPartial")
    @await Component.InvokeAsync("Last3BlogWithAuthorComponentPartial")
    @await Component.InvokeAsync("StatisticsComponentPartial")

    @await Component.InvokeAsync("_FooterLayoutComponent")

    @await Component.InvokeAsync("_ScriptLayoutComponent")

</body>
</html>

