@using UdemyCarBook.Dtos.CommentDtos
@model CreateCommentDto

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Leave a comment</h3>
    <form asp-controller="Blog" asp-action="BlogDetailMainLeaveCommentComponentPartial" method="post" class="p-5 bg-light">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
     
        <div class="form-group">
            <input type="hidden" class="form-control" asp-for="BlogId" value="@ViewBag.blogId">
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
</div>
